<div id='landingHeader'>
    <ul>
        <!--<li><a href='#landingP2'>How it Works</a></li>-->
        <li><a href='#landingP2'>How it Works</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/register'>Signup</a></li>
    </ul>
</div>
