<div id='nav'>
    <h1>Tutorly</h1>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='/account'>My Account</a></li>
    </ul>
</div>
