{{#each accounts}}
    <div id='accountBlock' class='twocolumn'>
        <div class='column'>
            <p>{{username}}</p>
        </div>
        <div class='column'>
            <button class='acceptHelpButton' data-accountId={{_id}}>Accept Help</button>
        </div>
    </div>
{{/each}}
