<div id='landingPageBackground' class='pageBackground'></div>
<div class='pageOverlay'></div>

<div id='landingP1' class='page'>
    <h1>Homework Helper</h1>
    <p>Homework help when you actually need it</p>
</div>

<div id='landingP2' class='page'>
    <div class='header' id='landingP2Header'>
        <h2>How it works</h2>
    </div>
    <div class="content">
        <div id='landingStudent'></div>
        <div id='landingTutor'></div>
    </div>
</div>

{{> landingHeader}}
