<div id='loginBackground' class='pageBackground loginOrRegisterPage'></div>
<div class='pageOverlay'></div> 

<div id='loginPageContainer' class='singlePageContainer'>
    <div id='login' class='formContainer'>
        <h1>Come on in</h1>
        <form id='loginForm' method='post' action=''>
            <label for='username'>Email</label>
            <input type='text' name='username'> 

            <label for='password'>Password</label>
            <input type='password' name='password' value=''>

            <label for='remember_me'>Remember me on this computer<input type='checkbox' name='remember_me' id='remember_me'></label>
            
            <input id='loginSubmit' type='submit'>
        </form>
    </div>
</div>

<script type="text/javascript" src='js/login.js'></script>
